.dashboard-container {
  padding: 1rem 0.5rem;
}

.row {
  margin: 0 !important;
}

.semester-heading {
  font-size: 20px;
  font-weight: 500;
  padding-top: 6px;
}

.dashboard-section {
  border: 1px solid #888;
  padding: 1rem;
  margin-bottom: 8px;
}

.dashboard-section-heading {
  font-weight: 600;
  color: #888;
}

.dashboard-section-arrow {
  background-color: #ffffff00;
  border: none !important;
  font-size: 24px;
  font-weight: 600;
  color: #888;
}

.dashboard-section-arrow:hover {
  background-color: #ffffff00;
  border: none !important;
  color: #555;
}

th {
  font-size: 12px;
}

tr {
  font-size: 12px;
}