.planner-small-container {
  padding-top: 6rem;
}

.small-course-row:nth-child(odd) {
  background: #2698fb;
  height: 75px;
  color: #fff;
}

.small-course-row:nth-child(even) {
  background: #777;
  height: 75px;
  color: #fff;
}