.instructor-detail {
    padding: 40px 60px;
    color: #7f7f7f;
}

.instructor-infos {
    column-gap: 20px;
}

.instructor-info {
    background-color: #f1f9ff;
}

.instructor-infos img {
    width: 100%;
}

.instructor-detail .name {
    font-size: 24px;
}

.instructor-detail .title {
    line-height: 18px;
}