.register-form-wrapper .list-group a {
    border-radius: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 60px;
    border: none;
    background-color: #f1f9ff;
}

.register-form-wrapper a.active {
    background-color: #bce0fd;
    border: none;
    color: #5a5a5a;
}

.register-form-wrapper form {
    background-color: #f1f9ff;
    margin-right: 0;
}