.calendar-background {
  padding-top: 6rem;
}

.line {
  border-top: 1px solid #2698fb49;
  margin: 0 0 2rem 2rem;
  width: 95%;
}


.times {
  position: absolute;
  top: 5.4rem;
  left: 0;
  z-index: 0;
  font-size: 14px;
  font-weight: 600;
  color: #666;
}

.time {
  margin-bottom: 0.75rem;
}

.days {
  width: 90%;
  position: absolute;
  margin-left: 1.2rem;
  top: 3rem;
  font-size: 16px;
  font-weight: 600;
  color: #666;
}